table {
    width: 80%;
    margin: 0 auto;
}

.selected-row {
    background-color: #dddfdf;
}

th,
td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #d3edea;
}

td {
    background-color: #f8fbfb;
}
table img {
    width: auto;
    height: 50px;
}

.image-update {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align items vertically */
    flex-direction: column;
}

#add-button-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    /* align items on the right */
    justify-content: flex-end;
}

/* button for adding tiems */
#add-item-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
