#navbar {
    background-color: #dcede9;
    overflow: hidden;
    display:block;
    width:100%;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    float: left;
}

#navbar a {
    display: block;
    padding: 20px;
    background-color: #b4d1ca;
    color: black;
    text-decoration: none;
}

#navbar .active {
    color : #b4d1ca;
    background-color: #766259;
}